body{
    margin: 0px;
}
#header{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
}
.links{
    display: flex;
    gap: 1rem;
}
a{
    color: black;
}
#content-container{
    display: flex;
    margin: 20px;
    gap: 20px;
}
#hollow-knight-poster{
    height: 500px;
    width: auto;
}
.card{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.images{
    display: flex;
    gap: 1rem;
}
.hero-image{
    display: flex;
    flex-direction: column;
    width: 200px;
    height:200px;
}
.metascore{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 50%;
    font-size: 40px;
    color: antiquewhite;
}
#hero-text{
    font-size: 150%;
}

/*text*/
#review-text{
    margin:20px;
}
.text-div{
    display:flex;
    gap:10px;
}
.wide-text-pic{
    height: 215px;
    width: auto;
}
.tall-text-pic{
    height: 350px;
    width:auto;
}
#footer{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}
